body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  color: #333;
}

ul {
  list-style: square;
}

section {
  text-align: center;
}